body {
    margin: 0;
    padding: 0;
}
.date {
    font-size: 0.9rem;
    color: rgb(45, 153, 54);
    margin-bottom: -20px;
}
.block_kurs {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 300px;
    height: 500px;
    background-color: rgb(215, 233, 215);
    margin: auto;
    box-shadow: 2px 0px 3px grey;
    text-align: center;
    margin-top: 30px;
}
.nazv, .usd, .eur, .gbp, .rub, .pln {
    width: 75px;
}
.valuta {
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid grey;
    font-weight: bold;
    box-shadow: 2px 0px 2px grey;
}
.valuta1 {
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}
.flagUA {
    width: 25px;
    height: 15px;
    background-image: url(..//img/flag_ua.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.flagUSA {
    width: 25px;
    height: 15px;
    background-image: url(..//img/flag_Usa.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.flagEuro {
    width: 25px;
    height: 15px;
    background-image: url(..//img/flag_euro.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.flagBritish {
    width: 25px;
    height: 15px;
    background-image: url(..//img/flag_br.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.flagRU {
    width: 25px;
    height: 15px;
    background-image: url(..//img/flag_ru.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.flagPL {
    width: 25px;
    height: 15px;
    background-image: url(..//img/flag_pln.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.btn {
    margin: auto;
    margin-top: 40px;
}
.all_block {
    display: flex;
    flex-direction: column;
    align-items: center;
}